@model MyBlog.Entities.Concrete.BlogUser

@{
    ViewData["Title"] = "Kullanıcı Bilgileri";
}


<div class="container">
    <div class="row justify-content-center">
        <div class="col-6">

            <h1>Bilgiler</h1>

            <div>
                <h4>Kullanıcılar</h4>
                <hr />
                <dl class="row">
                    <dt class="col-sm-4">
                        @Html.DisplayNameFor(model => model.Name)
                    </dt>
                    <dd class="col-sm-8">
                        @Html.DisplayFor(model => model.Name)
                    </dd>
                    <dt class="col-sm-4">
                        @Html.DisplayNameFor(model => model.Surname)
                    </dt>
                    <dd class="col-sm-8">
                        @Html.DisplayFor(model => model.Surname)
                    </dd>
                    <dt class="col-sm-4">
                        @Html.DisplayNameFor(model => model.Email)
                    </dt>
                    <dd class="col-sm-8">
                        @Html.DisplayFor(model => model.Email)
                    </dd>
                    <dt class="col-sm-4">
                        @Html.DisplayNameFor(model => model.UserName)
                    </dt>
                    <dd class="col-sm-8">
                        @Html.DisplayFor(model => model.UserName)
                    </dd>
                    <dt class="col-sm-4">
                        @Html.DisplayNameFor(model => model.Password)
                    </dt>
                    <dd class="col-sm-8">
                        @Html.DisplayFor(model => model.Password)
                    </dd>
                    <dt class="col-sm-4">
                        @Html.DisplayNameFor(model => model.IsActive)
                    </dt>
                    <dd class="col-sm-8">
                        @Html.DisplayFor(model => model.IsActive)
                    </dd>
                    <dt class="col-sm-4">
                        @Html.DisplayNameFor(model => model.IsAdmin)
                    </dt>
                    <dd class="col-sm-8">
                        @Html.DisplayFor(model => model.IsAdmin)
                    </dd>
                    <dt class="col-sm-4">
                        @Html.DisplayNameFor(model => model.CreatedDate)
                    </dt>
                    <dd class="col-sm-8">
                        @Html.DisplayFor(model => model.CreatedDate)
                    </dd>
                    <dt class="col-sm-4">
                        @Html.DisplayNameFor(model => model.ModifiedDate)
                    </dt>
                    <dd class="col-sm-8">
                        @Html.DisplayFor(model => model.ModifiedDate)
                    </dd>
                    <dt class="col-sm-4">
                        @Html.DisplayNameFor(model => model.ModifiedUserName)
                    </dt>
                    <dd class="col-sm-8">
                        @Html.DisplayFor(model => model.ModifiedUserName)
                    </dd>
                </dl>
            </div>
            <div>
                <a asp-action="Edit" asp-route-id="@Model?.Id" class="btn btn-primary btn-sm">Güncelle</a>
                <a asp-action="Index" class="btn btn-primary btn-sm">Tüm Kullanıcılar</a>
            </div>

        </div>
    </div>
</div>
